header.masthead {
	background-size: auto;
}

section {
	padding-top: 50px !important;
	padding-bottom: 50px !important;
}

.team-member img {
	width: 285px;
	height: 285px;
}

.text-green-custom {
	color: #1abb9c;
}

#share-sossial-buttons img {
	width: 35px;
	padding: 5px;
	border: 0;
	box-shadow: 0;
	display: inline;
}

@media (max-width: 480px) {
	.kontak-footer-2 {
		padding-top: 50px;
	}
}

#myImgGallery {
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}

#myImgGallery:hover {opacity: 0.7;}

/* The Modal (background) */
.modalGallery {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 2000; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-contentGallery  {
	margin: auto;
	display: block;
	/*width: 80%;
	max-width: 700px;*/
}

/* Caption of Modal Image */
#captionGallery  {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}

/* Add Animation */
.modal-contentGallery , #captionGallery  {  
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
	from {-webkit-transform:scale(0)} 
	to {-webkit-transform:scale(1)}
}

@keyframes zoom {
	from {transform:scale(0)} 
	to {transform:scale(1)}
}

/* The Close Button */
span.close {
	color: #ccc;
	margin-right: 35px;
}
.closeGallery  {
	position: absolute;
	top: 15px;
	right: 5px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.closeGallery :hover,
.closeGallery :focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
	.modal-contentGallery  {
		width: 100%;
	}
}
